<% if journal.private_notes? %>(<%= l(:field_private_notes) %>)<% end %> <%= l(:text_updated_by_at, :author => journal.user, :date => format_time(journal.created_on, true, @user || @users.first)) %>
<blockquote>
  <ul class="journal details">
    <% details_to_strings(journal.visible_details(@user || @users.first), false, :only_path => false).each do |string| %>
      <li><%= string %></li>
    <% end %>
  </ul>

  <%= textilizable(journal, :notes, :only_path => false) %>

  <%= render :partial => 'issue_quote', :formats => [ :html ], :locals => { :journal => journal.reply_to, :level => level + 1 } if journal.reply? %>
</blockquote>
